/* header area styles */


/* article/content are styles */

.btn-right {
    float: right !important;
}

.inp-small {
    height: 23px;
    font-size: 12px;
}

.btn-group button {
    margin: 0 1px;
}

.btn-toolbar:before {
    content: "";
    width: 16px;
    height: 18px;
    display: inline-block;
    margin: 0 0 0 0;
    vertical-align: text-top;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
}

.btn-tbimg-maps {
    background-image: url(../images/maps.svg);
    background-repeat: no-repeat;
}

.btn-tbimg-layers {
    background-image: url(../images/layers.svg);
    background-repeat: no-repeat;
}

.btn-tbimg-draw {
    background-image: url(../images/draw.svg);
    background-repeat: no-repeat;
}

.btn-tbimg-query {
    background-image: url(../images/query.svg);
    background-repeat: no-repeat;
}

.btn-tbimg-options {
    background-image: url(../images/options.svg);
    background-repeat: no-repeat;
}

.btn-tbimg-status {
    background-image: url(../images/status.svg);
    background-repeat: no-repeat;
}

.btn-tbimg-reset {
    background-image: url(../images/reset.svg);
    background-repeat: no-repeat;
}


/* footer area styles */